/*general styling*/

:root {
  --primary-color: black;
  --secondary-color: rgb(145, 9, 145);
  --heading-font: "Sacramento", cursive;
  --secondary-font: "DM Serif Display", serif;
  --third-font: "Gayathri", sans-serif;
}

body {
  background-color: var(--primary-color);
  color: white;
  padding-left: 80px;
  padding-right: 10px;
  margin-top: 10px;
}

h1 {
  font-family: var(--heading-font);
  word-spacing: 10px;
  font-size: 90px;
}
h2 {
  font-family: var(--secondary-font);
  font-size: 40px;
  word-spacing: 6px;
}
h3 {
  font-family: var(--heading-font);
  font-size: 90px;
}

p {
  font-family: var(--third-font);
  font-size: 40px;
}
.hrbreak {
  color: var(--secondary-color);
  border-top: 1px solid var(--secondary-color); 
}
/*indexpage styling*/

.intro h1:hover {
  transition: font-family 10s ease-in;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  cursor: grab;
  font-weight: bolder;
}
.aboutme {
  margin-top: 100px;
  margin-bottom: 90px;
}

.highlight {
  color: var(--secondary-color);
  font-weight: 700;
}
.highlight:hover {
  cursor: grab;
}
.myname {
  font-family: (var(--heading-font));
  transition: font-family 10s ease-in;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}
.myname:hover {
  font-family: (var(--heading-font));
  cursor: grab;
  transition: font-family 10s ease-in;
  background-image: linear-gradient(
    -225deg,
    #fff800 0%,
    #ff1361 29%,
    #44107a 67%,
    #231557 100%
  );
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}
.profilepic {
  height: 450px;
  width: 450px;
  border-radius: 50%;
  box-shadow: 0 0 5px var(--secondary-color), 0 0 25px var(--secondary-color),
    0 0 50px var(--secondary-color), 0 0 100px var(--secondary-color),
    0 0 200px var(--secondary-color);
}
.profilepic2 {
  height: 450px;
  width: 400px;
  border-radius: 10px;
  border: solid var(--secondary-color);
}
.profilepic:hover {
  filter: contrast(100%);
  transform: scale(1.2);
  box-shadow: 0 0 5px var(--secondary-color), 0 0 25px var(--secondary-color),
    0 0 50px var(--secondary-color), 0 0 100px var(--secondary-color),
    0 0 200px var(--secondary-color);
}
.diplomas-img {
  height: 350px;
  width: 450px;
  border-radius: 10px;
}
.diplomas-img:hover {
  filter: contrast(100%);
  transform: scale(1.2);
  box-shadow: 0 0 5px var(--secondary-color), 0 0 25px var(--secondary-color),
    0 0 50px var(--secondary-color), 0 0 100px var(--secondary-color),
    0 0 200px var(--secondary-color);
}
.skills-img {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  padding: 20px;
}
.bigmargin {
  margin-left: 5px;
}

.underline:hover {
  text-decoration: underline 2px var(--secondary-color);
}
.paddingtop {
  padding-top: 150px;
}
@media (max-width: 1500px) {
  body {
    text-align: center;
    justify-content: center;
  }

  h1 {
    font-size: 130px;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 70px;
    margin-bottom: 10px;
  }
  p {
    font-size: 55px;
  }
  .col-image {
    display: none;
  }
  .col-center {
    text-align: center;
  }
}
