body {
  background-color: black;
  color: white;
  padding-left: 80px;
  padding-right: 10px;
  margin-top: 10px;
}

h1  {
  font-family: "Sedgwick Ave", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
}

h2, h3 {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 h3{
  font-size: 50px;
 }

.highlight {
  color: rgb(145, 9, 145);
  font-weight: 700;
  font-style: italic;
}
.highlight:hover {
  cursor: grab;
}

.profilepic {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgb(145, 9, 145), 0 0 25px rgb(145, 9, 145),
    0 0 50px rgb(145, 9, 145), 0 0 100px rgb(145, 9, 145),
    0 0 200px rgb(145, 9, 145);
}
.profilepic:hover {
  filter: contrast(100%);
  transform: scale(1.2);
  box-shadow: 0 0 5px rgb(145, 9, 145), 0 0 25px rgb(145, 9, 145),
    0 0 50px rgb(145, 9, 145), 0 0 100px rgb(145, 9, 145),
    0 0 200px rgb(145, 9, 145);
  cursor: grab;
}
.bigmargin {
  margin-left: 5px;
}
.underline:hover {
  text-decoration: underline 2px rgb(145, 9, 145);
}
.introduction {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

@media (max-width: 771px) {
  body {
    text-align: center;
    justify-content: center;
  }
  .content {
    text-align: center;
  }
  h1 {
    font-size: 50px;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 30px;
  }
}
